body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: rem 2rem 0rem 2rem; */
}

header {
    background-color:black;
    color: white;
    padding: 1rem 0;
    margin:1rem 2rem 2rem 2rem;
    border-radius: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: 12rem;
    border-radius: 10px;
}

.hero .btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features, .pricing, .contact {
    padding: 2rem 1rem;
    text-align: center;
}

.features-container, .pricing-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature, .pricing-plan {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.feature h3, .pricing-plan h3 {
    margin-top: 0;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact label {
    text-align: left;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.contact-image-container {
    flex: 1;
    max-width: 500px;
}

.contact-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale();
    margin-left: 6rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.btn{
    border:2px solid black;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 1.5rem;
}